@{
    this.ViewData["Title"] = "About us";
}

<section>
    <h1>@this.ViewData["Title"]</h1>
    <hr />
    <p class="blockquote text-center text-">
        Thank you for considering our web application! Our application is designed to provide educational content in a direct and easy-to-understand manner.

        Our application features a variety of educational materials, courses, videos, and reviews, on a wide range of subjects.
        This content is presented in a clear and concise format, making it easy for users to learn and retain new information.

        Additionally, our application offers personalized learning experiences, with tailored recommendations based on each user's interests and progress.
        This allows users to focus on the topics that are most relevant and interesting to them.

        We hope you enjoy using it!
    </p>
</section>
