@model LearnFast.Web.ViewModels.Review.ImportReviewViewModel

@{
    this.ViewData["Title"] = "Add review";
}

<section class="row">
    <h1 class="text-center">@this.ViewData["Title"]</h1>
    <div>
        <form method="post" class="col-6 mx-auto">
            <div class="form-floating">
                <textarea asp-for="Content" class="form-control col-6" aria-required="true" oninput="auto_height(this)"></textarea>
                <label asp-for="Content"></label>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <select asp-for="Rating" asp-items="Model.RatingList" class="form-select">
                    <option disabled selected></option>
                </select>
                <label asp-for="Rating" class="form-label">Select rating</label>
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <button class="btn btn-success" asp-action="Add" asp-route-CourseId="@Model.CourseId" type="submit">Add review</button>
        </form>
    </div>
</section>

<script>
    function auto_height(area) {
        area.style.height = "180px";
        area.style.height = (area.scrollHeight) + "px";
    }
</script>