@model LearnFast.Web.ViewModels.Review.ReviewListViewModel

@{
    this.ViewData["Title"] = "All reviews";
}

<section>
    <h1>@this.ViewData["Title"] / <a class="btn-outline-success" asp-area="" asp-controller="Course" asp-action="Details" asp-route-id="@Model.CourseId">Back to course</a></h1>
    <hr />
    <partial name="_ReviewPartial" model="Model"/>
</section>

@section Styles {
    <link rel="stylesheet" href="/css/reviews.css" asp-append-version="true">
}