<section class="field">
    <div>
        <p class="alert-warning">You could not purchase this course!</p>
    </div>
</section>


@section Styles {
    <link rel="stylesheet" href="/css/invalidPayment.css" asp-append-version="true">
}