@model LearnFast.Web.ViewModels.Course.ImportCourseModel

@{
    this.ViewData["Title"] = "Create course";
    this.ViewData["Style"] = "create.css";
}

<section>
    <h1>@this.ViewData["Title"]</h1>
    <hr />
    <form method="post" enctype="multipart/form-data" class="create-form mx-auto">
        <div class="form-floating">
            <input asp-for="Title" class="form-control" aria-required="true" />
            <label asp-for="Title"></label>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input asp-for="Price" class="form-control" aria-required="true" />
            <label asp-for="Price"></label>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div id="isfree">
            <legend>The course is paid?</legend>
            <label>Yes</label>
            <input type="radio" asp-for="IsFree" value="true" />
            <label>No</label>
            <input type="radio" asp-for="IsFree" value="false" />
        </div>
        <div class="form-floating">
            <select asp-for="Difficulty" asp-items="Model.Difficulties" class="form-select">
                <option disabled selected></option>
            </select>
            <label asp-for="Difficulty"></label>
            <span asp-validation-for="Difficulty" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <select asp-for="LanguageId" asp-items="Model.Languages" class="form-select">
                <option disabled selected></option>
            </select>
            <label asp-for="LanguageId" class="form-label">Select language</label>
            <span asp-validation-for="LanguageId" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <select asp-for="CategoryId" asp-items="Model.Categories" class="form-select">
                <option disabled selected></option>
            </select>
            <label asp-for="CategoryId" class="form-label">Select category</label>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" cols="120" rows="10"  class="form-textarea" aria-required="true" oninput="auto_height(this)"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <label asp-for="Requirments"></label>
            <textarea asp-for="Requirments" cols="120" rows="10" class="form-textarea" aria-required="true" oninput="auto_height(this)"></textarea>
            <span asp-validation-for="Requirments" class="text-danger"></span>
        </div>
        <div id="upload-image" class="form-floating">
            <label asp-for="MainImage"></label>
            <input id="upload" asp-for="MainImage" multiple accept="image/gif, image/jpeg, image/png">
            <span asp-validation-for="MainImage" class="text-danger"></span>
        </div>
        <div class="border-1">
            <img id="uploadedImage" alt="Uploaded Image" accept="image/gif, image/jpeg, image/png" style="display:none;">
        </div>
        <hr />
        <button class="button" asp-controller="Course" asp-action="Create">Create course</button>
    </form>
</section>


@section Scripts {
    <script type="module" src="/js/create.js"></script>
}