@model LearnFast.Web.ViewModels.Course.BaseCourseListViewModel

@{
    this.ViewData["Title"] = "All courses";
    this.ViewData["Style"] = "all.css";
}

<section>
    <h1>@this.ViewData["Title"]</h1>
    <ul>
        @foreach (var course in Model.Courses)
        {
            <label>@course.Title</label>
            <img src="@course.MainImageUrl" />
            <span>@course.Owner.FullName</span>
            <br />
        }
    </ul>
</section>