@{
    this.Layout = "_BaseLayout";
}
@RenderSection("Styles", required: false)

    <div class="container">
    <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>

@RenderSection("Scripts", required: false)
