@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

@*<label for="file-upload" class="custom-file-upload">
    <mat-icon class="upload-button">add_circle</mat-icon>Upload images
</label>
<input id="file-upload" (change)="this.onFileChange($event)" type="file" class="file-upload" multiple>*@


<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-sm-4">
                    <img src="@Model.Input.ImageUrl" alt="avatar"
                         class="rounded-circle img-fluid" style="width: 150px;">
                </div>
                <div class="col-sm-2 h-50 border mt-2">
                    <label for="file-upload" class="custom-file-upload">
                        <i class="fas fa-upload"></i>
                        <strong>Upload</strong>
                    </label>
                    <input class="d-none" id="file-upload" asp-for="Input.ImageFile" type="file" multiple accept="image/gif, image/jpeg, image/png">
                    <span asp-validation-for="Input.ImageFile" class="text-danger"></span>
                </div>
            </div>
            <div class="form-floating mt-2">
                <input asp-for="Username" class="form-control" disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating">
                <textarea id="area" asp-for="Input.Biography" class="form-control"> </textarea>
                <label asp-for="Input.Biography" class="form-label"></label>
                <span asp-validation-for="Input.Biography" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.WebsiteUrl" class="form-control" />
                <label asp-for="Input.WebsiteUrl" class="form-label"></label>
                <span asp-validation-for="Input.WebsiteUrl" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <select asp-for="Input.CountryId" asp-items="Model.Input.Countries" class="form-select">
                    <option disabled selected></option>
                </select>
                <label asp-for="Input.CountryId" class="form-label">Select category</label>
                <span asp-validation-for="Input.CountryId" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>
    #area {
        width: 100%;
        height: 150px;
        padding: 30px 10px;
    }
</style>
