section div {
    display: block;
    text-align: center;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: #974f81;
    font-size: 40px;
    font-family: "Open Sans";
}

.category {
    display: inline-block;
    width: 300px;
    border: 15px inset #c17e8c;
    padding: 40px;
    margin: 20px;
    text-align: center;
    box-shadow: 16px -16px #ebbdb6;
}

    .category a {
        color: inherit;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
    }
