h1 {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    text-transform: uppercase;
    color: #325170;
    font-size: 30px;
    text-decoration: none;
}

textarea
{
    padding-top: 40px;
    width: 430px;
    max-width: 100%;
}

.field {
    margin-bottom: 20px;
}

iframe {
    width: 100%;
    max-height: 350px;
    height: 100%;
    border-radius: 20px;
}

.info {
    margin: 30px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif
}

.info i {
    font-size: 35px;
    margin: 3px;
}


@media only screen and (max-width: 600px) {
    .info {
        display: block;
        font-size: 15px;
    }
}
