h1 {
    margin-left: 40px;
    font-family: "Open Sans";
    text-transform: uppercase;
    color: rgba(0, 35, 122, 0.9);
    font-size: 30px;
    text-decoration: none;
}
.create-form div {
    margin: 40px;
}

#isfree {
    background-color: aliceblue;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
}

#upload-image label {
    font-size: 18px !Important;
}

#upload-image input {
    position: relative;
    opacity: 0;
}

.form-textarea {
    height: 100px;
    max-width: 100%;
    margin-top: 40px;
}

label, legend, #upload-image input {
    padding: 18px;
    font-family: "Open Sans";
    text-transform: uppercase;
    color: rgba(0, 35, 122, 0.5);
    font-size: 15px;
    text-decoration: none;
}

.button {
    margin-left: 35px;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 50px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
}

    .button::after {
        content: "";
        background-color: #ffe54c;
        width: 100%;
        z-index: -1;
        position: absolute;
        height: 100%;
        top: 7px;
        left: 7px;
        transition: 0.2s;
    }

    .button:hover::after {
        top: 0px;
        left: 0px;
    }

#uploadedImage {
    width: 270px; 
    height: 270px;
}
