@model LearnFast.Web.ViewModels.Category.CategoryListViewModel

@{
    this.ViewData["Title"] = "Categories";
    this.ViewData["Style"] = "category.css";
}

<section>
    <h1>@this.ViewData["Title"]</h1>
    <hr />
    <div>
        @foreach (var category in Model.Categories)
        {
            <div class="category">
                <a asp-area=""
                   asp-controller="Category"
                   asp-action="Courses"
                   asp-route-id="@category.Id"
                   asp-route-name="@category.Name">
                    @category.Name
                </a>
            </div>
        }
    </div>
</section>