h1 {
    font-family: "Open Sans";
    text-transform: uppercase;
    color: rgba(0, 35, 122, 0.9);
    font-size: 40px;
    text-decoration: none;
    text-align: center;
}

.head {
    padding: 20px;
    background-color: whitesmoke;
    height: 600px;
    border-radius: 25px;
}

.intro {
    position: relative;
}

.home-image {
    box-shadow: inset 0 3px 6px rgb(0 0 0 / 16%), 0 4px 6px #dc4c64;
    border-radius: 25px;
}

.intro-container {
    position: absolute;
    top: 50px;
    left: 30px;
    width: 180px;
    background-color: whitesmoke;
    max-height: 100%;
    height: 300px;
    padding: 10px;
    box-shadow: inset 0 3px 6px rgb(0 0 0 / 16%), 0 4px 6px #dc4c64;
    border-radius: 10px;
}

.intro-container p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
    font-style: oblique;
}

@media only screen and (max-width: 600px) {
    .intro-container {
        position: relative;
        top: 10px;
        height: 190px
    }

        .intro-container p {
            font-family: 'Times New Roman', Times, serif;
            font-size: 15px;
            font-style: oblique;
        }
}

h3 {
    font-family: "Open Sans";
    text-transform: uppercase;
    color: rgba(0, 35, 122, 0.9);
    font-size: 18px;
    text-decoration: none;
}

.courses {
    padding: 20px;
    box-shadow: inset 0 3px 6px rgb(13 110 253 / 50%), 0 4px 6px rgba(0,0,0,0.45);
}

.course {
    border-top: 10px ridge rgb(13 110 253 / 16%);
    background-color: #f8f9fa;
}

.course img {
    border: 10px ridge rgb(13 110 253 / 16%);
}

.price {
    vertical-align: bottom;
    text-align: end;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    background-color: aliceblue;
    padding: 10px;
}