body {
    height: 100%;
    background-image: linear-gradient(to right top, #d3f1ffbf 0%, #e9ecef 100%);
    margin: 0 auto;
}

nav {
    mask-image: linear-gradient( 90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100% );
    padding: 60px 0;
}

    nav ul {
        display: inline-block;
    }

        nav ul li {
            display: inline-block;
            text-overflow: clip;
        }

            nav ul li a, button {
                padding: 10px;
                padding-left: 15px;
                font-family: "Open Sans";
                text-transform: uppercase;
                color: rgba(0, 35, 122, 0.5);
                font-size: 16px;
                text-decoration: none;
                display: block;
            }

                nav ul li a:hover {
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
                    background: rgba(255, 255, 255, 0.1);
                    color: rgba(0, 35, 122, 0.7);
                }

.chip {
    padding: 0 25px;
    padding-right: 50px;
    height: 50px;
}

    .chip img {
        float: right;
        margin: 0 10px 0 -25px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        box-shadow: 8px -8px rgba(13, 110, 253, 0.11);
    }

@media only screen and (max-width: 600px) {
    nav ul li {
        display: block;
    }

    nav {
        text-align: center;
    }

        nav ul {
            width: 100%;
            max-width: 300px;
        }

    .chip {
        margin: 0 auto;
        padding-right: 100px;
    }
}

.account {
    padding-right: 50px;
}

.logo {
    width: 130px;
    max-width: 100%;
}